.Signin {
  width: 20%;
  min-height: 410px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding-top: 4%;
  border-radius: 5px;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, #35394a),
    color-stop(100%, #1f222e)
  );
  .signin-title {
    font-size: 20px;
    text-align: center;
    color: #afb1be;
    margin-bottom: 15%;
  }
  .form-group {
    width: 100%;
    height: 50px;
    border-top: 2px solid #383d52;
    border-bottom: 2px solid #383d52;
    margin-bottom: 1px;
    background-color: #31364a;
  }
  .email {
    label {
      font-size: 0;
      margin: 20% 0px 0px 10%;
      &:after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png)
          no-repeat center center;
      }
    }
    input {
      display: inline-block;
      width: 80%;
      margin: 10px 0px 0px 10px;
      border: none;
      background-color: #31364a;
      outline: none;
      font-size: 20px;
      color: #afb1be;
    }
  }
  .password {
    label {
      font-size: 0;
      margin-left: 10%;
      &:after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/lock_icon_copy.png)
          no-repeat center center;
      }
    }
    input {
      display: inline-block;
      width: 80%;
      margin: 10px 0px 0px 10px;
      border: none;
      background-color: #31364a;
      outline: none;
      font-size: 20px;
      color: #afb1be;
    }
  }
  .signin-button {
    display: block;
    width: 94%;
    margin: 3%;
    padding: 3%;
    font-size: 20px;
    color: #dc617f;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #dc617f;
    transition: all ease 0.5s;
    &:hover {
      color: white;
      background-color: #dc617f;
    }
  }
  .errorMsg {
    display: block;
    padding: 10px 0 0 50px;
    text-align: left;
    font-size: 13px;
    color: red;
  }
  .ask-account {
    margin: 4%;
    text-align: center;
    font-size: 15px;
    color: #afb1be;
  }
  .move {
    text-decoration: none;
    .signup {
      display: block;
      width: 94%;
      margin: 3%;
      padding: 3%;
      text-align: center;
      font-size: 20px;
      color: #afb1be;
      border: 2px solid #afb1be;
      transition: all ease 0.5s;
      &:hover {
        color: #ffffff;
        background-color: #afb1be;
      }
    }
  }
}
