$mainColor: #1b5ac2;
$subColor: #0c2236;
$type1: #afb1be;

@mixin inputStyle {
  label {
    display: none;
  }
  input {
    display: inline-block;
    width: 80%;
    margin: 10px 0px 0px 10px;
    border: none;
    background-color: #ffffff;
    outline: none;
    font-size: 20px;
    color: $type1;
  }
}

.Signin {
  width: 20%;
  min-height: 410px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding-top: 4%;
  border: 1px solid $subColor;
  border-radius: 5px;
  background: #ffffff;
  .signin-title {
    font-size: 20px;
    text-align: center;
    color: $subColor;
    margin-bottom: 15%;
  }
  .form-group {
    width: 100%;
    height: 50px;
    border-top: 1px solid $subColor;
    background-color: #ffffff;
  }
  .email {
    @include inputStyle();
  }
  .password {
    border-bottom: 1px solid $subColor;
    @include inputStyle();
  }
  .signin-button {
    display: block;
    width: 94%;
    margin: 3%;
    padding: 3%;
    font-size: 20px;
    color: $subColor;
    background-color: transparent;
    border: 1px solid $mainColor;
    transition: all ease 0.8s;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      background-color: $mainColor;
    }
  }
  .errorMsg {
    display: block;
    padding: 10px 0 0 50px;
    text-align: left;
    font-size: 13px;
    color: red;
  }
  .ask-account {
    margin: 4%;
    text-align: center;
    font-size: 15px;
    color: $type1;
  }
  .move {
    text-decoration: none;
    .signup {
      display: block;
      width: 94%;
      margin: 3%;
      padding: 3%;
      font-size: 20px;
      color: $type1;
      border: 1px solid $type1;
      transition: all ease 0.8s;
      cursor: pointer;
      &:hover {
        color: #ffffff;
        background-color: $type1;
      }
    }
  }
}
