$mainColor: #1b5ac2;
$subColor: #0c2236;
$type1: #afb1be;
$font: 'Noto Sans KR', sans-serif;

.PlaceDetails {
  .place-details-container {

    .place-details-main{
      .place-details-picture{
        img{
          width: 480px;
          height: 270px;
        }
      }
    }
  }
}
