$mainColor: #1b5ac2;
$subColor: #0c2236;
$type1: #afb1be;
$type2: #e9ecef;
$type3: #f03e3e;
$type4: #fab005;
$font: "Noto Sans KR", sans-serif;

.PlaceDetails {
  font-family: $font;
  .place-details-container {
    width: 65%;
    margin: 0 auto;
    padding-top: 8%;
    .place-details-header {
      position: relative;
      margin-bottom: 5%;
      .place-details-header-info {
        padding: 20px 20px 20px 0;
        text-align: left;
        .place-details-title {
          margin: 0;
          margin-bottom: 10px;
          font-size: 35px;
        }
        .place-details-location {
          margin-right: 10px;
          color: $type1;
          font-size: 15px;
        }
        .place-details-author {
          margin-right: 10px;
          color: $type1;
          font-size: 15px;
        }
        .place-details-rate {
          margin-right: 10px;
          color: $type1;
          .place-details-no-rate {
            font-size: 15px;
          }
          .place-details-rate-image {
            color: $type1;
            font-size: 15px;
            .MdStarBorder {
              color: $type4;
            }
            .MdStar {
              color: $type4;
            }
          }
        }
        .place-details-score {
          color: $type1;
          font-size: 15px;
        }
      }
      .place-favorite {
        position: absolute;
        top: 40px;
        right: 30px;
        font-size: 40px;
        cursor: pointer;
        .MdFavorite {
          color: $type3;
        }
        .MdFavoriteBorder {
          color: $type3;
        }
      }
    }

    .place-details-main {
      display: flex;
      .place-details-main-left-container {
        width: 50%;
        height: 848px;
        margin-top: 25px;
        .place-details-picture {
          img {
            width: 100%;
            height: 340px;
            border-radius: 5px;
          }
        }
      }
      .place-details-main-right-container {
        width: 50%;
        padding-left: 30px;
        text-align: left;
        .place-details-description {
          margin-bottom: 30px;
        }
        .place-details-tags {
          margin-bottom: 5px;
          li {
            display: inline-block;
            margin-right: 5px;
            color: $mainColor;
          }
        }
        .place-details-comments {
          .write-comments {
            position: relative;
            width: 90%;
            height: 102px;
            margin: 35px 0;
            padding: 10px 0 0 10px;
            border: 1px solid $type1;
            .write-comments-rate {
              .place-details-rate-image {
                color: $type1;
                font-size: 20px;
                .MdStarBorder {
                  color: $type4;
                }
                .MdStar {
                  color: $type4;
                }
              }
            }
            .write-comments-text {
              display: block;
              width: 100%;
              margin-top: 5px;
              outline: none;
              font-size: 15px;
              text-align: left;
              outline: 0;
              border: 0;
              border-bottom: 1px solid $type1;
            }
            .write-comments-submit {
              position: absolute;
              top: 64px;
              right: -1px;
              padding: 10px 20px;
              background: $mainColor;
              color: #ffffff;
              font-size: 13px;
              font-weight: bold;
              border: none;
            }
          }
          .require-login {
            margin: 50px 0;
            text-align: center;
            button {
              padding: 0;
              border: none;
              font-size: 16px;
              color: $mainColor;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          .show-comments {
            ul {
              margin: 0;
              padding: 0;
              .comments-list {
                width: 90%;
                text-align: left;
                margin-bottom: 20px;
                border-bottom: 3px double $type1;
                .comment-by {
                  margin-bottom: 2px;
                  font-size: 15px;
                  color: $type1;
                  .MdPerson {
                    margin-right: 5px;
                  }
                }
                .comment-text {
                  margin-bottom: 2px;
                  font-size: 18px;
                  color: $subColor;
                }
                .comment-date {
                  color: $type1;
                  .MdDateRange {
                    margin-right: 5px;
                  }
                }
                .comment-error-msg {
                }
              }
            }
          }
        }
      }
    }
  }
}
