* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #ea5c54),
    color-stop(100%, hsl(277, 77%, 68%))
  );
}
